{% extends "base.html" %}
{% block title %}Пост{% endblock %}
{% block header %}Пост{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                            {% include "author.html" %}
                                <li class="list-group-item">
                                    <div class="h6 text-muted">
                                        Записей: {{ author.posts.count }}
                                    </div>
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">

        <!-- Пост -->
        {% include "single_post.html" %}

        </div>
    </div>
</main> 

{% endblock %}