{% extends "base.html" %}
{% block title %}Пост{% endblock %}
{% block header %}Пост{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                {% include "author.html" with first_name=author.first_name last_name=author.last_name username=author.username count=author.posts.count %}
                </div>
            </div>

        <div class="col-md-9">

        <!-- Пост -->
        {% include "single_post.html" %}

        </div>
    </div>
</main> 

{% endblock %}