{% extends "base.html" %}
{% block title %}Страница пользователя{% endblock %}
{% block header %}Страница пользователя{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                {% include "author.html" %}
            </div>
        </div>
<!-- Здесь не получилось. Никак. Сокурсники не в курсе. Есть подсазки? -->
            <div class="col-md-9">                
                <!-- Начало блока с отдельным постом -->
                {% for post in page %}
                <div class="card mb-3 mt-1 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">
                            <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                            <a href="{% url 'profile' username=author.username %}"><strong class="d-block text-gray-dark">@{{ post.author.username }}</strong></a>
                            <!-- Текст поста -->
                            {{ post.text }} 
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group ">
                                <!-- Ссылка на страницу записи в атрибуте href-->
                                <a class="btn btn-sm text-muted" href="/{{ post.author.username }}/{{ post.id }}/" role="button">Добавить комментарий</a>
                                <!-- Ссылка на редактирование, показывается только автору записи -->
                                {% if request.user.id == post.author_id %}
                                    <a class="btn btn-sm text-muted" href="/{{ post.author.username }}/{{ post.id }}/edit" role="button">Редактировать</a>
                                {% endif %}
                            </div>
                                <!-- Дата публикации  -->
                                <small class="text-muted">{{ post.pub_date|date:"d M Y" }}</small>
                        </div>
                    </div>
                </div>
        <!-- Конец блока с отдельным постом -->
        {% endfor %}
        <!-- Остальные посты -->
        <p>
            {{ post.text|linebreaksbr }}
        </p>

        <!-- Здесь постраничная навигация паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}
        </div>
    </div>
</main> 

{% endblock %}